{{#each Product}}
  <div class="card">
    <div class="position-relative">
      <img class="card-img" data-img={{dataValues.productImage}} src={{dataValues.productImage}} alt="Backpack">
      <div class="card-cart">
        <li>
          <button class="card__btn btn" data-id={{dataValues.id}}><i class="fal fa-shopping-cart cart-black"></i><span class="cart-span">Add to Cart</span></button>
        </li>
      </div>
    </div>
    <div class="card-text position-relative">
      <h4><strong>{{dataValues.productName}}</strong></h4>
      <p>Price: <span>{{dataValues.productPrice}}</span></p>
      <button class="details-btn btn" data-id={{dataValues.id}}><span class="details-span">See Product Details</span></button>
    </div>
  </div> 
{{/each}}
