{{#each Product}}
  <div class="card">
    <div class="position-relative">
      <img class="card-img" data-img={{dataValues.productImage}} src="/img/backpack.jpeg" alt="Backpack">
      <div class="card-cart" data-id={{dataValues.id}}>
        <li>
          <button class="card__btn" data-id={{dataValues.id}}><i class="fal fa-shopping-cart cart-black"></i><span class="cart-span">Add to Cart</span></button>
        </li>
      </div>
    </div>
    <div class="card-text">
      <h4><strong>{{dataValues.productName}}</strong></h4>
      <p>Price: <span>{{dataValues.productPrice}}</span></p>
    </div>
  </div> 
{{/each}}
